<!-- login Modal-->
<div class="modal fade" id="modalSmall" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Connexion</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <div class="form-group">
              <label for="normal-pill-input">Email</label>
              <input class="form-control" type="email" id="normal-pill-input" placeholder="email">
            </div>
             <div class="form-group">
              <label for="normal-pill-input">Mot De Passe</label>
              <input class="form-control" type="password" id="normal-pill-input" placeholder="mot de passe">
            </div>
      </div>
       <div class="modal-footer">
        <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Close</button>
        <button class="btn btn-success btn-sm" type="button" (click)="affchierProfileBar()" routerLink="profile" data-dismiss="modal">Connecte</button>
      </div>
    </div>
  </div>
</div>
