<!-- login Modal-->
<div class="modal fade" id="modalSmall" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Connexion</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
      </div>

            <div class="modal-body">
              <form [formGroup]="loginForm" (submit)="login()">
        <div class="form-group">
          <label>email</label>
          <input type="email" class="form-control" formControlName="email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password" [(ngModel)]="credentials.password">
        </div>
        <div class="pull-right">
              <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Ferme</button>
              <button type="submit" name="button" class="btn btn-success btn-sm" >Connecte</button>
        </div>
      </form>
      </div>
    </div>

  </div>
</div>


<div class="modal modal-warning fade" id="alert" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Paramètres</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
      </div>

  <div class="modal-body">
    <p align="justify">Mettre à jour votre profil ! </p>
  <p align="justify">Allez au paramètres</p>
    </div>
    <div class="modal-footer">
            <button class="btn btn-outline btn-sm" type="button" data-dismiss="modal">Close</button>
            <button class="btn btn-outline btn-sm" type="button" >Modifier</button>
    </div>
    </div>

  </div>
</div>
