<header id="header">
  <div class="container">

    <div class="logo float-left">
      <!-- Uncomment below if you prefer to use an image logo -->
      <h1 class="text-light"><a href="#intro" class="scrollto"><span>IChange</span></a></h1>
      <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
    </div>

    <nav class="main-nav float-left d-none d-lg-block" *ngIf="Visbilite">
      <ul>
        <li class="active"><a href="#intro">Accuiel</a></li>
        <li><a href="#about">A Propos</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#testimonials">Actualités</a></li>
      </ul>
    </nav><!-- .main-nav -->
     <nav class="main-nav float-right d-none d-lg-block" *ngIf="Visbilite">
      <ul>
        <li><a href="#" data-toggle="modal" data-target="#modalDefault">s'inscrire</a></li>
        <li><a href="#" data-toggle="modal" data-target="#modalSmall">se connecter</a></li>
      </ul>
    </nav><!-- .main-nav -->
    <!--nav profile-->
    <div class="dropdown float-right d-none d-lg-block" *ngIf="VisbiliteProfile">
          <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            <span class="avatar" style="background-image: url(assets/demo/faces/female/25.jpg)"></span>
            <span class="ml-2 d-none d-lg-block">
              <span class="text-default">Jane Pearson</span>
              <small class="text-muted d-block mt-1">Administrator</small>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fe fe-user"></i> Profile
            </a>
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fe fe-settings"></i> Settings
            </a>
            <a class="dropdown-item" href="#">
              <span class="float-right"><span class="badge badge-primary">6</span></span>
              <i class="dropdown-icon fe fe-mail"></i> Inbox
            </a>
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fe fe-send"></i> Message
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fe fe-help-circle"></i> Need help?
            </a>
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fe fe-log-out"></i> Sign out
            </a>
          </div>
        </div>
    <!--end nav Profile-->
  </div>
</header><!-- #header -->
<app-content *ngIf="Content"></app-content>
<app-login [hideContent]="Content" (hideContentPage)="onHidesContentPage($event)"  [showNavBar]="Visbilite"  (showNavBarChange)="onShowNavBarChange($event)" [showProfileBar]="VisbiliteProfile" (showProfileBarChange)="onShowProfileBarChange($event)" ></app-login>
<router-outlet></router-outlet>
