<header id="header">
  <div class="container">

    <div class="logo float-left" *ngIf="Visbilite">
      <!-- Uncomment below if you prefer to use an image logo -->
      <h1 class="text-light"><a href="#intro" class="scrollto"><span>IChange</span></a></h1>
      <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
    </div>

    <nav class="main-nav float-left d-none d-lg-block" *ngIf="Visbilite">
      <ul>
        <li class="active"><a href="#intro">Accuiel</a></li>
        <li><a href="#about">A Propos</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#testimonials">Actualités</a></li>
      </ul>
    </nav><!-- .main-nav -->
     <nav class="main-nav float-right d-none d-lg-block" *ngIf="Visbilite">
      <ul>
        <li><a href="#" data-toggle="modal" data-target="#modalDefault">s'inscrire</a></li>
        <li><a href="#" data-toggle="modal" data-target="#modalSmall">se connecter</a></li>
      </ul>
    </nav><!-- .main-nav -->
    <!--nav profile-->

  </div>
</header><!-- #header -->
<app-content *ngIf="Content"></app-content>
<app-login [showAdmin]="adminPage" (showAdminPage)="onShowAdminPage($event)" [hideContent]="Content" (hideContentPage)="onHidesContentPage($event)"  [showNavBar]="Visbilite"  (showNavBarChange)="onShowNavBarChange($event)"  ></app-login>
<app-footer *ngIf="Content"></app-footer>
<app-main *ngIf="adminPage"></app-main>
