

  <!-- Main row -->
  <div class="row">
    <!-- Left col -->


        <!-- /.col -->

        <div class="col-md-12" *ngFor="let pub of pubs">

      <!-- Box Comment -->
      <div class="box box-widget" *ngIf="pub.enable!=true">
        <div class="box-header with-border">
          <div class="user-block">
            <img class="img-circle" src="data:image/png;base64,{{pub.userId.photo}}" alt="User Image">
            <span class="username">{{pub.userId.firstname}} {{pub.userId.lastname}}</span>
            <span class="description">{{pub.position}}-{{pub.createdAt}}</span>
          </div>
          <!-- /.user-block -->
          <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Approved This Pub">
              <i class="fa fa-check-square-o"></i></button>
            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="delete This Pub"><i class="fa fa-times"></i></button>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <p>{{pub.description}}</p>
          <img class="img-responsive pad" src="data:image/png;base64,{{pub.photo}}" alt="Photo">
        </div>
          <!-- /.box-footer -->
      </div>
    </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
