
<header id="header">
  <div class="container">


        <div class="logo float-left">
          <!-- Uncomment below if you prefer to use an image logo -->
          <h1 class="text-light"><a href="#intro" class="scrollto"><span>IChange</span></a></h1>
          <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
        </div>

    <!--nav profile-->
    <div class="dropdown float-right d-none d-lg-block">
          <a (click)="loadPub();loadComments();loadPubByOrder();loadUser();" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            <img class="avatar" src="data:image/png;base64,{{user.photo}}">
            <span class="ml-2 d-none d-lg-block">
              <span class="text-default">{{user.firstname}} {{user.lastname}}</span>
              <small class="text-muted d-block mt-1">{{user.email}}</small>
            </span>
          </a>
        <!--  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <a class="dropdown-item">
              <i class="dropdown-icon fe fe-user"></i> Profile
            </a>
            <a class="dropdown-item" data-toggle="modal" data-target="#settings">
              <i class="dropdown-icon fe fe-settings"></i> Settings
            </a>
            <a class="dropdown-item" href="#">
              <span class="float-right"><span class="badge badge-primary">6</span></span>
              <i class="dropdown-icon fe fe-mail"></i> Inbox
            </a>
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fe fe-send"></i> Message
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fe fe-help-circle"></i> Need help?
            </a>
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fe fe-log-out" (click)="logout()"></i> Sign out
            </a>
          </div>-->
        </div>
    <!--end nav Profile-->
  </div>
</header><!-- #header -->
   <!-- Main content -->
   <div class="container" style="margin-bottom: 5em;">

   </div>
   <section class="content">

     <div class="row">
       <div class="col-md-3">

         <!-- Profile Image -->
         <div class="box box-primary">
           <div class="box-body box-profile">
             <img class="profile-user-img img-responsive img-circle" src="data:image/png;base64,{{user.photo}}" alt="User profile picture">

             <h3 class="profile-username text-center">{{user.firstname}} {{user.lastname}}</h3>
           </div>
           <!-- /.box-body -->
         </div>
         <!-- /.box -->

         <!-- About Me Box -->
         <div class="box box-primary">
           <div class="box-header with-border">
             <h3 class="box-title">A Propos</h3>
           </div>
           <!-- /.box-header -->
           <div class="box-body">
             <strong><i class="fa fa-book margin-r-5"></i> Description</strong>

             <p class="text-muted">
               {{user.description}}
             </p>

             <hr>

             <strong><i class="fa fa-map-marker margin-r-5"></i> Ville Actuelle</strong>

             <p class="text-muted">{{user.place}}</p>
             <hr>

             <strong><i class="fa fa-newspaper-o margin-r-5"></i> News</strong>

           </div>
           <!-- /.box-body -->
         </div>
         <!-- /.box -->

         <!--news-->

    <div class="box box-primary" *ngFor="let pu of PubByOrder">
    <!-- Box Comment -->
    <div class="box box-widget" *ngIf="pu.enable!=false">
      <div class="box-header with-border">
        <div class="user-block">
          <img class="img-circle" src="data:image/png;base64,{{pu.userId.photo}}" alt="User Image">
          <span class="username"><a href="#">{{pu.userId.firstname}} {{pu.userId.lastname}}</a></span>
          <span class="description">{{pu.position}} - {{pu.createdAt}} </span>
        </div>
        <!-- /.user-block -->
        <div class="box-tools">

          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <!-- post text -->


        <!-- Attachment -->
        <div class="attachment-block clearfix">
          <img class="attachment-img" src="data:image/png;base64,{{pu.photo}}" alt="Attachment Image">

          <div class="attachment-pushed">
            <h4 class="attachment-heading"><a href="http://www.lipsum.com/">{{pu.description}}</a></h4>

                      <!-- /.attachment-text -->
          </div>
          <!-- /.attachment-pushed -->
        </div>
        <!-- /.attachment-block -->


      </div>
      <!-- /.box-body -->


    </div>
    <!-- /.box -->
  </div>
    <!--end news-->
       </div>
       <!-- /.col -->
       <div class="col-md-9">
         <div class="nav-tabs-custom">
           <div class="box box-widget with-border" style="border: 1px solid #ccc!important;border-radius: 12px;">
                   <div class="box-header with-border">
                    <h5>Créer une publication</h5>
                   </div>
                   <form [formGroup]="PubForm">
                   <div class="box-body">
                     <div class="user-block col-lg-1"><img class="img-circle img-bordered-sm" src="data:image/png;base64,{{user.photo}}" alt="User Image"></div>
                      <textarea class="col-lg-11" formControlName="description" [(ngModel)]="pubAttribute.description"></textarea>
                   </div>
                   <div class="box-footer">
                     <a class="btn btn-secondary btn-xs col-lg-3">
                               <input type="file" id="image" (change)="UploadChange($event)">
                      </a>

                  <input type="text"  class="form-control col-sm-8" placeholder="Ajouter une adresse" formControlName="position" [(ngModel)]="pubAttribute.position">


                       <button type="button" class="btn btn-secondary btn-xs pull-right" style="border-radius: 8px;" (click)="UploadPub()">
                         <i class="fa fa-send">  Publier</i>
                       </button>
                    </div>
                    </form>
                 </div>
                 <div style="margin-bottom: 2em;"></div>

          <div class="tab-content">
                     <div class="active tab-pane">

               <div class="post" *ngFor="let pub of pubs">
         <!-- Box Comment -->
         <div class="box box-widget" *ngIf="pub.enable!=false">
           <div class="box-header with-border">
             <div class="user-block">
               <img class="img-circle" src="data:image/png;base64,{{pub.userId.photo}}" alt="User Image">
               <span class="username"><a href="#">{{pub.userId.firstname}} {{pub.userId.lastname}}</a></span>
               <span class="description">{{pub.position}} - {{pub.createdAt}}</span>
             </div>
             <!-- /.user-block -->
             <div class="box-tools" *ngIf="user.id===pub.userId.id">
                           <button type="button" class="btn btn-box-tool" (click)="loadOnePub(pub.id)" data-toggle="tooltip" title="modifier votre Publication" data-toggle="modal" data-target="#updatePub">
                             <i class="fa fa-edit"></i></button>
                           <button type="button" class="btn btn-box-tool" (click)="operation='pub'; loadOnePub(pub.id)" data-toggle="tooltip" title="voulez-vous supprimer cette publication définitivement ?" data-widget="remove" data-toggle="modal" data-target="#alertPop">
                             <i class="fa fa-times"></i></button>
                     <!--Modal modifier pub-->
                     <div class="modal fade" id="updatePub">
                       <div class="modal-dialog">

                         <div class="modal-content">

                           <div class="modal-header">
                             <h4 class="modal-title">Modifier Votre Publication</h4>
                             <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
                           </div>

                                 <div class="modal-body" *ngIf="showDataPub">
                                   <form [formGroup]="updatePubForm" >
                                     <div class="form-group">
                                   <label class="normal-pill-input" >Description</label>
                                   <textarea rows="2" class="form-control"  formControlName="description"  value="{{onePub.description}}"></textarea>
                                 </div>
                                 <div class="form-group">
                                  <label for="normal-pill-input">Addresse</label>
                                  <input class="form-control" type="text" id="normal-pill-input" formControlName="position"    value="{{onePub.position}}">
                                </div>
                                   <div class="form-group">
                                     <label for="normal-pill-input">Photo</label>
                                   <div class="custom-file">
                                 <input type="file" class="custom-file-input"  (change)="UploadChange($event)" accept="image/jpeg, image/png">
                               <label class="custom-file-label" for="customFileLang">Sélectionner le fichier </label>
                               </div>
                             </div>

                             <div class="pull-right">
                                       <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Ferme</button>
                                       <button type="submit" name="button" class="btn btn-success btn-sm" (click)="editPost(onePub.id)" data-dismiss="modal">Modifier</button>
                                 </div>
                                 </form>
                           </div>
                         </div>

                       </div>
                     </div>
                     <!--End Modal modifier pub-->
                         </div>
             <!-- /.box-tools -->
           </div>
           <!-- /.box-header -->
           <div class="box-body">
            <p>{{pub.description}}</p>
            <p>
             <img class="img-responsive pad" src="data:image/png;base64,{{pub.photo}}" alt="Photo">
             </p>

             <div *ngIf="hideUnlike else blockElse">
             <ul class="list-inline" *ngFor="let like of likes">
                <li *ngIf="pub.id===like.pub.id && user.id===like.user.id "><a class="fa fa-thumbs-up margin-r-5"></a></li>
                  <li *ngIf="pub.id===like.pub.id && user.id===like.user.id else blockElse"><a  class="link-black text-sm"><i class="fa fa-comments-o margin-r-5" ></i> Commentaire ({{pub.nubOfComments}})</a></li>
             </ul>

            <!-- <ng-template #blockElse>
               <ul class="list-inline">
                   <li><a class="fa fa-thumbs-o-up margin-r-5" (click)="AddLike(pub.id)"></a></li>
               </ul>
             </ng-template>-->
             <ng-template #blockElse>
             <ul class="list-inline" >
                <li><a class="fa fa-thumbs-o-up margin-r-5" (click)="AddLike(pub.id)"></a></li>
                  <li ><a  class="link-black text-sm"><i class="fa fa-comments-o margin-r-5" ></i> Commentaire ({{pub.nubOfComments}})</a></li>
             </ul>
             </ng-template>
              </div>

              <ul class="list-inline" *ngIf="hidelike">
                 <li><a class="fa fa-thumbs-o-up margin-r-5" (click)="AddLike(pub.id)"></a></li>
                   <li ><a  class="link-black text-sm"><i class="fa fa-comments-o margin-r-5" ></i> Commentaire ({{pub.nubOfComments}})</a></li>
              </ul>

            <!--   <ul class="list-inline">
                            <li><a (click)="thumbs == 'Unlike' ? AddLike(pub.id)  : deleteLike(pub.id)"  class="link-black text-sm"><i class="{{thumbs == 'Unlike' ? 'fa fa-thumbs-o-up margin-r-5' :
                   thumbs== 'like' ? 'fa fa-thumbs-up margin-r-5' :''}}"></i> J'aime()</a></li>
                  <li ><a  class="link-black text-sm"><i class="fa fa-comments-o margin-r-5" ></i> Commentaire ({{pub.nubOfComments}})</a></li>
           </ul>-->
        <!--
           <div *ngFor="let like of likes">
           <ul class="list-inline" *ngIf=" pub.id===like.pub.id && user.id===like.user.id" >
              <li><a class="fa fa-thumbs-o-up margin-r-5"></a></li>
           </ul>
            </div>-->

       </div>
           <!-- /.box-body -->
           <div class="box-footer box-comments" *ngFor="let comm of comments">

               <div class="box-comment"  *ngIf="pub.id===comm.pub">
                     <img class="img-circle img-sm" src="data:image/png;base64,{{comm.user.photo}}" alt="User Image">
               <div class="comment-text">
                 <span class="username">
                    {{comm.user.firstname}} {{comm.user.lastname}}
                             <span class="text-muted pull-right">{{comm.createdAt}}
                       </span>
                       </span>
                       <span><!-- /.username -->
              {{comm.description}} </span>
                         <div class="box-tools pull-right" *ngIf="user.id===comm.user.id">
                   <button type="button" class="btn btn-box-tool" (click)="loadOneComment(comm.id)" data-toggle="tooltip" title="modifier votre commentaire"   data-toggle="modal" data-target="#updateComment" >
                     <i class="fa fa-edit fa-5x text-primary"></i></button>
                   <button type="button" class="btn btn-box-tool" (click)="operation='comment'; loadOneComment(comm.id)" data-toggle="tooltip" title="voulez-vous supprimer cette commentaire définitivement ?" data-toggle="modal" data-target="#alertPop">
                     <i class="fa fa-trash-o fa-5x text-danger"></i></button>
                     <!--modal update comment-->
                     <div class="modal fade" id="updateComment">
                       <div class="modal-dialog">
                         <div class="modal-content">
                           <div class="modal-header">
                             <h4 class="modal-title">Modifier Votre Commentaire</h4>
                             <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
                           </div>
                           <div class="modal-body" *ngIf="showDataComment">
                              <form [formGroup]="updateCommentForm" >
                             <div class="box-footer">
                               <img class="img-responsive img-circle img-sm" src="data:image/png;base64,{{user.photo}}" alt="Alt Text">
                                 <!-- .img-push is used to add margin to elements next to floating images -->
                                   <div class="img-push" >

                                   <input type="text" class="form-control input-sm col-lg-11"  formControlName="description"  value="{{oneComment.description}}">
                                   <button type="button" class="btn btn-box-tool" (click)="editComment(oneComment.id,pub.id)" data-dismiss="modal">
                                  <i class="fe fe-send"></i>
                                </button>
                                 </div>
                             </div>
                             </form>
                          </div>
                        </div>
                        </div>
                      </div>
                       <!--end modal update comment-->
                                   </div>
                                 </div>

                       </div>

                     </div>

                   <!-- /.box-footer -->
           <div class="box-footer" >
             <!--<form action="#" method="post">-->
               <img class="img-responsive img-circle img-sm" src="data:image/png;base64,{{user.photo}}" alt="Alt Text">
               <!-- .img-push is used to add margin to elements next to floating images -->

               <div class="img-push">
                 <form  [formGroup]="CommentForm">
                 <input type="text" class="form-control input-sm" placeholder="Press enter to post comment" formControlName="description" [(ngModel)]="commentAttribute.description"
                 (keyup.enter)="AddComment(pub.id)">
                 </form>
               </div>

                 <!--</form>-->
           </div>
           <!-- /.box-footer -->

         </div>
         <!-- /.box -->
         </div>
     </div>
            </div>

           <!-- /.tab-content -->
         </div>

         <!-- /.nav-tabs-custom -->
       </div>
       <!-- /.col -->

     </div>
     <!-- /.row -->


   </section>
   <!-- /.content -->






<!--Settings-->
<div class="modal fade" id="settings">
  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Settings</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
      </div>

            <div class="modal-body">
              <form [formGroup]="updateUserForm" >
               <div class="form-group">
              <label for="normal-pill-input">Prénom</label>
              <input class="form-control" type="text" id="normal-pill-input" placeholder="prénom" value="{{user.firstname}}" formControlName="firstname" [(ngModel)]="credentials.firstname">
            </div>
             <div class="form-group">
              <label for="normal-pill-input">Nom</label>
              <input class="form-control" type="text" id="normal-pill-input" placeholder="nom" value="{{user.lastname}}" formControlName="lastname" [(ngModel)]="credentials.lastname">
            </div>
             <div class="form-group">
              <label for="normal-pill-input">Email</label>
              <input class="form-control" type="email" id="normal-pill-input" placeholder="email" value="{{user.email}}" formControlName="email" [(ngModel)]="credentials.email">
            </div>
             <div class="form-group">
              <label for="normal-pill-input">Mot De Passe</label>
              <input class="form-control" type="password" id="normal-pill-input" placeholder="******" formControlName="password" [(ngModel)]="credentials.password">
            </div>
            <div class="form-group">
                <label for="normal-pill-input">Photo</label>
              <div class="custom-file">
            <input type="file" class="custom-file-input" (change)="UploadChange($event)">
          <label class="custom-file-label" for="customFileLang">Sélectionner le fichier </label>
          </div>
        </div>
            <div class="form-group">
          <label class="normal-pill-input" formControlName="description" [(ngModel)]="credentials.description">Description</label>
          <textarea rows="2" class="form-control" placeholder="votre description" value="{{user.description}}"></textarea>
        </div>
        <div class="form-group">
         <label for="normal-pill-input">Lieux</label>
         <input class="form-control" type="text" id="normal-pill-input" placeholder="lieux" value="{{user.place}}" formControlName="position" [(ngModel)]="credentials.position">
       </div>
        <div class="pull-right">
                  <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Ferme</button>
                  <button type="submit" name="button" class="btn btn-success btn-sm" (click)="userUpdate() ;selectedUser = user">Update</button>
            </div>
            </form>
      </div>
    </div>

  </div>
</div>
<!--End Settings-->
<!--Alert modal-->
<div class="modal modal-danger fade"  id="alertPop" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">

    <div class="modal-content">

      <div class="modal-header" *ngIf="showDataPub;showDataComment">
        <h4 class="modal-title">Alert</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
      </div>
  <div class="modal-body">
    <p align="justify">Voulez-vous supprimer {{operation == 'pub' ? 'Cette publication ?!' : operation == 'comment' ? 'Cette commentaire ?!' :''}}</p>
      </div>
    <div class="modal-footer">
            <button class="btn btn-outline btn-sm" type="button" data-dismiss="modal">Close</button>
            <button type="submit" name="button" class="btn btn-danger btn-sm" (click)="operation == 'pub' ? deletePub(onePub.id) : deleteComment(oneComment.id)" data-dismiss="modal">Supprimer</button>
              </div>
    </div>
  </div>
</div>
<!--End Alert modal-->
<div class="modal modal-info fade"  id="alertNotif" role="dialog">
  <div class="modal-dialog modal-sm" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Votre publication doit étre accepte par l'adminstrateur de site</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
