<div class="page">
     <div class="page-main">

       <div class="my-3 my-md-5">
         <div class="container">
           <div class="row">
             <div class="col-lg-4">
               <div class="card card-profile">
                 <div class="card-header" style="background-image: url(assets/demo/photos/eberhard-grossgasteiger-311213-500.jpg);"></div>
                 <div class="card-body text-center">
                   <img class="card-profile-img" src="assets/demo/faces/male/16.jpg">
                   <h3 class="mb-3">Peter Richards</h3>
                   <p class="mb-4">
                     Big belly rude boy, million dollar hustler. Unemployed.
                   </p>
                   <button class="btn btn-outline-primary btn-sm">
                     <span class="fa fa-twitter"></span> Follow
                   </button>
                 </div>
               </div>


             </div>
             <div class="col-lg-8">
               <div class="card">
                 <div class="card-header">
                   <div class="input-group">
                     <textarea class="form-control"></textarea>
                     <div class="input-group-append">
                       <button type="button" class="btn btn-secondary">
                         <i class="fe fe-map-pin"></i>
                       </button>
                     </div>
                     <div class="input-group-append">
                       <button type="button" class="btn btn-secondary">
                         <i class="fe fe-camera"></i>
                       </button>
                     </div>
                   </div>
                 </div>
                 <div class="card">
                   <div class="card-header">
                      <div class="media-heading">
                       <div class="media">
                       <div class="media-object avatar avatar-md mr-4" style="background-image: url(assets/demo/faces/male/16.jpg)"></div>
                             <div class="media-heading">
                             <h5>Peter Richards</h5>
                             <small class="d-block text-muted">4 min</small>
                              </div>
                         </div>
                    </div>
                   </div>
                   <div class="card-body">
                      <div>
                           Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras
                           justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes,
                           nascetur ridiculus mus.
                         </div>
                   </div>
                   <div class="card-footer">
                <button type="button" class="btn btn-secondary"><i class="fe fe-thumbs-up"> J'aime</i></button>
                <button type="button" class="btn btn-secondary"><i class="fa fa-comments"> Commentaire</i></button>
                   </div>
                 </div>

                 <div class="card-header">
                     <div class="input-group">
                      <div class="media-object avatar avatar-md mr-4" style="background-image: url(assets/demo/faces/male/16.jpg)"></div>

                      <textarea class="form-control"></textarea>
                      <div class="input-group-append">
                        <button type="button" class="btn btn-secondary">
                          <i class="fe fe-send"></i>
                        </button>
                      </div>
                    </div>
                  </div>

                 <ul class="list-group card-list-group">
                   <li class="list-group-item py-5">
                     <div class="media">
                       <div class="media-object avatar avatar-md mr-4" style="background-image: url(assets/demo/faces/male/16.jpg)"></div>
                       <div class="media-body">
                         <div class="media-heading">
                           <small class="float-right text-muted">4 min</small>
                           <h5>Peter Richards</h5>
                         </div>
                         <div>
                           Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras
                           justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes,
                           nascetur ridiculus mus.
                         </div>
                         <ul class="media-list">
                           <li class="media mt-4">
                             <div class="media-object avatar mr-4" style="background-image: url(assets/demo/faces/female/17.jpg)"></div>
                             <div class="media-body">
                               <strong>Debra Beck: </strong>
                               Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus
                               auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.
                             </div>
                           </li>
                           <li class="media mt-4">
                             <div class="media-object avatar mr-4" style="background-image: url(assets/demo/faces/male/32.jpg)"></div>
                             <div class="media-body">
                               <strong>Jack Ruiz: </strong>
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                               amet risus.
                             </div>
                           </li>
                         </ul>
                       </div>
                     </div>
                   </li>
                   <li class="list-group-item py-5">
                     <div class="media">
                       <div class="media-object avatar avatar-md mr-4" style="background-image: url(assets/demo/faces/male/16.jpg)"></div>
                       <div class="media-body">
                         <div class="media-heading">
                           <small class="float-right text-muted">12 min</small>
                           <h5>Peter Richards</h5>
                         </div>
                         <div>
                           Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis
                           parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         </div>
                       </div>
                     </div>
                   </li>

                   <li class="list-group-item py-5">
                     <div class="media">
                       <div class="media-object avatar avatar-md mr-4" style="background-image: url(assets/demo/faces/male/16.jpg)"></div>
                       <div class="media-body">
                         <div class="media-heading">
                           <small class="float-right text-muted">34 min</small>
                           <h5>Peter Richards</h5>
                         </div>
                         <div>
                           Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam
                           venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                         </div>
                         <ul class="media-list">
                           <li class="media mt-4">
                             <div class="media-object avatar mr-4" style="background-image: url(assets/demo/faces/male/26.jpg)"></div>
                             <div class="media-body">
                               <strong>Wayne Holland: </strong>
                               Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus
                               auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.
                             </div>
                           </li>
                         </ul>
                       </div>
                     </div>
                   </li>
                 </ul>
               </div>

             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
