

   <!-- Main content -->
   <section class="content">

     <div class="row">
       <div class="col-md-3">

         <!-- Profile Image -->
         <div class="box box-primary">
           <div class="box-body box-profile">
             <img class="profile-user-img img-responsive img-circle" src="./assets/dist/img/user4-128x128.jpg" alt="User profile picture">

             <h3 class="profile-username text-center">Nina Mcintire</h3>
           </div>
           <!-- /.box-body -->
         </div>
         <!-- /.box -->

         <!-- About Me Box -->
         <div class="box box-primary">
           <div class="box-header with-border">
             <h3 class="box-title">A Propos</h3>
           </div>
           <!-- /.box-header -->
           <div class="box-body">
             <strong><i class="fa fa-book margin-r-5"></i> Description</strong>

             <p class="text-muted">
               B.S. in Computer Science from the University of Tennessee at Knoxville
             </p>

             <hr>

             <strong><i class="fa fa-map-marker margin-r-5"></i> Position</strong>

             <p class="text-muted">Malibu, California</p>
             <hr>

             <strong><i class="fa fa-newspaper-o margin-r-5"></i> News</strong>

           </div>
           <!-- /.box-body -->
         </div>
         <!-- /.box -->

         <!--news-->

    <div class="box box-primary">
    <!-- Box Comment -->
    <div class="box box-widget">
      <div class="box-header with-border">
        <div class="user-block">
          <img class="img-circle" src="./assets/dist/img/user1-128x128.jpg" alt="User Image">
          <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
          <span class="description">Shared publicly - 7:30 PM Today</span>
        </div>
        <!-- /.user-block -->
        <div class="box-tools">

          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <!-- post text -->


        <!-- Attachment -->
        <div class="attachment-block clearfix">
          <img class="attachment-img" src="./assets/dist/img/photo1.png" alt="Attachment Image">

          <div class="attachment-pushed">
            <h4 class="attachment-heading"><a href="http://www.lipsum.com/">Lorem ipsum text generator</a></h4>

            <div class="attachment-text">
              Description about the attachment can be placed here.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry... <a href="#">more</a>
            </div>
            <!-- /.attachment-text -->
          </div>
          <!-- /.attachment-pushed -->
        </div>
        <!-- /.attachment-block -->


      </div>
      <!-- /.box-body -->


    </div>
    <!-- /.box -->
  </div>
    <!--end news-->
       </div>
       <!-- /.col -->
       <div class="col-md-9">
         <div class="nav-tabs-custom">
           <div class="box box-widget with-border" style="border: 1px solid #ccc!important;border-radius: 12px;">
                   <div class="box-header with-border">
                    <h5>Créer une publication</h5>
                   </div>
                   <div class="box-body">
                     <div class="user-block col-lg-1"><img class="img-circle img-bordered-sm" src="./assets/dist/img/user4-128x128.jpg" alt="User Image"></div>
                      <textarea class="col-lg-11"></textarea>
                   </div>
                   <div class="box-footer">
                       <button type="button" class="btn btn-secondary btn-xs" style="border-radius: 8px;">
                         <i class="fa fa-photo">   Photo/Photos</i>
                       </button>

                       <button type="button" class="btn btn-secondary btn-xs" style="border-radius: 8px;">
                         <i class="fa fa-map-marker">  Position</i>
                       </button>
                       <button type="button" class="btn btn-secondary btn-xs pull-right" style="border-radius: 8px;">
                         <i class="fa fa-send">  Publier</i>
                       </button>
                    </div>
                 </div>
                 <div style="margin-bottom: 2em;"></div>

          <div class="tab-content">
             <div class="active tab-pane">
               <!-- Post -->
               <div class="post">
                 <div class="user-block">
                   <img class="img-circle img-bordered-sm" src="./assets/dist/img/user1-128x128.jpg" alt="user image">
                       <span class="username">
                         <a href="#">Jonathan Burke Jr.</a>

                       </span>
                   <span class="description">Shared publicly - 7:30 PM today</span>
                 </div>
                 <!-- /.user-block -->
                 <p>
                   Lorem ipsum represents a long-held tradition for designers,
                   typographers and the like. Some people hate it and argue for
                   its demise, but others ignore the hate as they create awesome
                   tools to help create filler text for everyone from bacon lovers
                   to Charlie Sheen fans.
                 </p>
                 <ul class="list-inline">
                   <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> J'aime(10)</a></li>
                   <li><a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Commentaire(5)</a></li>

                 </ul>
                  <form action="#" method="post">
               <img class="img-responsive img-circle img-sm" src="./assets/dist/img/user4-128x128.jpg" alt="Alt Text">
               <!-- .img-push is used to add margin to elements next to floating images -->
               <div class="img-push">
                 <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
               </div>
             </form>
               </div>
               <!-- /.post -->
               <div class="post">
         <!-- Box Comment -->
         <div class="box box-widget">
           <div class="box-header with-border">
             <div class="user-block">
               <img class="img-circle" src="./assets/dist/img/user1-128x128.jpg" alt="User Image">
               <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
               <span class="description">Shared publicly - 7:30 PM Today</span>
             </div>
             <!-- /.user-block -->

             <!-- /.box-tools -->
           </div>
           <!-- /.box-header -->
           <div class="box-body">
             <img class="img-responsive pad" src="./assets/dist/img/photo2.png" alt="Photo">

             <p>I took this photo this morning. What do you guys think?</p>
             <ul class="list-inline">
                   <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> J'aime(10)</a></li>
                   <li><a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Commentaire(5)</a></li>

                 </ul>
           </div>
           <!-- /.box-body -->
           <div class="box-footer box-comments">
             <div class="box-comment">
               <!-- User image -->
               <img class="img-circle img-sm" src="./assets/dist/img/user3-128x128.jpg" alt="User Image">

               <div class="comment-text">
                     <span class="username">
                       Maria Gonzales
                       <span class="text-muted pull-right">8:03 PM Today</span>
                     </span><!-- /.username -->
                 It is a long established fact that a reader will be distracted
                 by the readable content of a page when looking at its layout.
               </div>
               <!-- /.comment-text -->
             </div>
             <!-- /.box-comment -->
             <div class="box-comment">
               <!-- User image -->
               <img class="img-circle img-sm" src="./assets/dist/img/user4-128x128.jpg" alt="User Image">

               <div class="comment-text">
                     <span class="username">
                       Luna Stark
                       <span class="text-muted pull-right">8:03 PM Today</span>
                     </span><!-- /.username -->
                 It is a long established fact that a reader will be distracted
                 by the readable content of a page when looking at its layout.
               </div>
               <!-- /.comment-text -->
             </div>
             <!-- /.box-comment -->
           </div>
           <!-- /.box-footer -->
           <div class="box-footer">
             <form action="#" method="post">
               <img class="img-responsive img-circle img-sm" src="./assets/dist/img/user4-128x128.jpg" alt="Alt Text">
               <!-- .img-push is used to add margin to elements next to floating images -->
               <div class="img-push">
                 <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
               </div>
             </form>
           </div>
           <!-- /.box-footer -->
         </div>
         <!-- /.box -->
       </div>
     </div>
            </div>
           <!-- /.tab-content -->
         </div>
         <!-- /.nav-tabs-custom -->
       </div>
       <!-- /.col -->
     </div>
     <!-- /.row -->

   </section>
   <!-- /.content -->
